/*重置样式*/
*{padding: 0;margin: 0;}
a {color: #000;}
/*公共样式*/
body{font-size: 1rem; height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;}
.noturnline{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.navbar{background-color: #1682dd;color: #fff;}
.navbar a{color: #fff;}
.navbar .center{font-weight: bold;font-size: .28rem;}
.navbar .right i.icon-llhomesearch{margin-right: 10px;}
.toolbar .iconfont {font-size: 23px;}
.color-dgreen{color: #0db78a;}
.color-dorange{color: #f29715;}
.color-dred{color: #e7172f;}
.color-dblue{color: #1682dd;}


/*图标颜色*/
.color-iblue{color: #3da7ff;}
.color-igreen{color: #0db78a;}


.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom: 1;}
.fleft{float: left;}
.fright{float: right;}
li{list-style: none;}
p{margin: 0;padding: 0;}

.list-block{font-size: .3rem;}

/*index index-wo  主页——我的*/
#index-Wo .user_box img{width: 100%;height: 100%;border-radius: 5px;}
#index-Wo .user_box .navbar-inner-img{width: 1.5rem;height: 1.5rem;}
#index-Wo .user_box .login-after  p{position: absolute;max-width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#index-Wo .user_box .login-after  p.userName{top: .3rem;left: 0;font-weight: bold;}
#index-Wo .user_box .login-after  p.userCompany{bottom: .27rem;left: 0;}
#index-Wo .user_box .list-block{margin: 0;}
#index-Wo .list-block{margin: 10px 0;}
#index-Wo .wo_box1 ul li:nth-child(1)::after{content: '';position: absolute;left: 0;bottom: 0;right: auto;top: auto;height: 1px;width: 100%;background-color: #EEEEEE;display: block;z-index: 15;-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;}
#index-Wo ul li i{font-size: .5rem;}



/*my_application 我的应用*/
#my_application .navbar{background-color: #FFF;}
#my_application .navbar form{background-color: #FFF;padding:0 1em;}
#my_application .navbar  .back i{font-size: .3rem;color: #118eea;}
#my_application .navbar .searchbar-input{margin-left: .3rem;}
#my_application .navbar  input{background-color: #f1f1f1;}
#my_application .navbar span{color: #128dea;font-size: .25rem;width: 15%;margin-left: .3rem;}
#my_application .page-content{background-color: #fff;}
#my_application h4{margin-left: .5rem;margin: .3rem .4rem 0 .4rem;font-size: .3rem;}
#my_application .row .col-25{text-align: center;padding: .2rem 0;}
#my_application .row .col-25 i{font-size: 1rem;}
#my_application .row .col-25 p{margin: 0;color: #999;font-size: .25rem;}


/*Farm_food 农副产品*/
/*#Farm_food .navbar{background-color: #1682dd;color: #fff;}
#Farm_food .navbar a{color: #fff;}*/
#Farm_food .page-content{overflow: hidden;}
#Farm_food .page-content .searchbar_form{position:relative; width: 100%;background-color: #fff;height: .7rem;padding: .1rem 0;}
#Farm_food .page-content .searchbar_form input {display: block;height: .7rem;padding:0 2%;font-size: 14px;width: 90%;margin: 0 auto;background-color: #e5e5e5;border-radius: 5px;border: none;outline: none;}
#Farm_food .page-content .searchbar_form label{font-size: .25rem; z-index: 2;position: absolute;left: 51%;margin-left: -13%;color: #B2B2B2;top:.3rem;font-weight: normal;color: #333;}
#Farm_food .page-content .searchbar_form i{font-size:.25rem;position: absolute;top:.29rem;left: 51%;margin-left: -18%;color: #333;}
#Farm_food .page-content>.row {margin-top: .2rem;height: calc(100% - 1rem);overflow: hidden;}
#Farm_food .page-content .col-25{height: 100%;overflow: auto;}
#Farm_food .page-content .col-75{height: 100%;overflow: auto;}
#Farm_food .page-content .col-25 ul li{font-size: .25rem; text-align: left;padding:.25rem;background-color: #FFFFFF;border-bottom: 1px solid #c4c4c4;}
#Farm_food .page-content .col-25 ul li.select {color: #1682dd; padding:.25rem .25rem .25rem .15rem;border-left: .1rem solid #1682dd;background-color: initial;border-bottom: none;}
#Farm_food .page-content .col-25 ul li:last-child{border: none;}
#Farm_food .page-content .col-75 .row{background-color: #fff;padding-bottom: .5rem;justify-content: inherit;}
#Farm_food .page-content .col-75 .row li{text-align: center;}
#Farm_food .page-content .col-75 .row li img{display: block;height: 1.3rem;width: 1.3rem;margin:0 auto;padding: .5rem 0 .2rem;}
#Farm_food .page-content .col-75 .row li  p{font-size: .25rem;}

/*Farm_foodDetail 农贸产品详细*/
#Farm_foodDetail .navbar .right{font-size: .28rem;}
#Farm_foodDetail .navbar .right span{border-radius: 5px; display: inline-block;padding:0 .1rem 0 .2rem;background-color: #fff;color: #333;}
#Farm_foodDetail .navbar .right  i{margin-left: .1rem;}
#Farm_foodDetail .detail_box{padding: 15px 10px;background-color: #fff;}
#Farm_foodDetail .detail_box .row{border: 1px solid #E9E9E9;}
#Farm_foodDetail .detail_box h1{font-size: .45rem;margin-bottom: .1rem;font-weight: normal;}
#Farm_foodDetail .detail_box h1:first-child{letter-spacing: 3px;}
#Farm_foodDetail .detail_box h1:last-child{color: red;margin-bottom: 0;}
#Farm_foodDetail .detail_box h1 span:last-child {font-size: 0.25rem;}
#Farm_foodDetail .detail_box h4{font-size: .25rem;margin-bottom: .1rem;font-weight: normal;}
#Farm_foodDetail .detail_box .col-60{padding: 10px 0 10px 15px;}
#Farm_foodDetail .detail_box .col-40 img{display: block;width:2.3rem;height: 1.75rem;padding: 10px 15px 10px 0;}
#Farm_foodDetail .detail_box .col-50{padding:3px 10px;font-size: .3rem;text-align: left;letter-spacing: 2px;}
#Farm_foodDetail .detail_box .row .col-50:nth-child(3){border-top: 1px solid #E9E9E9;border-right: 1px solid #E9E9E9;}
#Farm_foodDetail .detail_box .row .col-50:nth-child(4){border-top: 1px solid #E9E9E9;color: red;}
#Farm_foodDetail .detail_box .row .col-50:nth-child(5){border-right: 1px solid #E9E9E9;border-top: 1px solid #E9E9E9;}
#Farm_foodDetail .detail_box .row .col-50:nth-child(6){letter-spacing: 0px;border-top: 1px solid #E9E9E9;}
#Farm_foodDetail .detail_box .Chart{border: 1px solid #E9E9E9;height: 3.5rem;margin-top: 10px;}
#Farm_foodDetail .Framfood_new{background-color: #fff;margin-top: 15px;padding: 15px 10px;}
#Farm_foodDetail .Framfood_new h1{margin-bottom:15px; text-align:center;font-size: .3rem;color: #1682dd;}
#Farm_foodDetail .Framfood_new ul li{padding-left: 10px; margin-bottom:5px;margin-left: 5px; color:#999; font-size: .23rem;position: relative;}
#Farm_foodDetail .Framfood_new ul li a{color: #999999;}
#Farm_foodDetail .Framfood_new ul li i:before{display: block;width: 5px;height: 5px; position: absolute;left: 0;top: -4px;}


/*Report 报表页面*/
#All_Report  .navbar .back i{font-size: .4rem;}
#All_Report  .buttons-row .button{line-height:40px;height:40px;border-radius: initial;border: none;color: #808082;background-color: #f9f9fb;}
#All_Report  .buttons-row .button:first-child{border-right:1px solid #f0eff5;}
#All_Report  .buttons-row .button.select:after{content: '';position: absolute;margin-left:-7.5%;left: 50%;bottom: 0;right: auto;top: auto;height: 2px;width: 15%;background-color: #4198e5;display: block;z-index: 15;}
#All_Report  .buttons-row .button.select{color: #4198e5;}
#All_Report ul.Report_list {width: 100%;height: calc( 100% - 40px);overflow: auto;}
#All_Report ul.Report_list li{padding: 0rem .2rem;background-color: #fff;display: block;margin-bottom: 1px;}
#All_Report ul.Report_list li i{font-size: 1.4rem;color: #3da7ff;display: block;height: 1.7rem;}
#All_Report ul.Report_list .details {height: 1.5rem;padding: .23rem .1rem .1rem;margin-left: 1.6rem;}
#All_Report ul.Report_list .details p{margin-bottom:.1rem;font-size: .28rem;color: #bababa;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#All_Report ul.Report_list .details p:first-child{color: #333;}
#All_Report ul.Report_list .details p:last-child{margin: 0;}

/*result——Report 报表搜索结果页面*/
#Report_result  .page-content{overflow: hidden;position: relative;}
#Report_result  .buttons-row .button{line-height:40px;height:40px;border-radius: initial;border: none;color: #808082;background-color: #f9f9fb;}
#Report_result  .buttons-row .button:first-child{border-right:1px solid #f0eff5;}
#Report_result  .buttons-row .button.select:after{content: '';position: absolute;margin-left:-7.5%;left: 50%;bottom: 0;right: auto;top: auto;height: 2px;width: 15%;background-color: #4198e5;display: block;z-index: 15;}
#Report_result  .buttons-row .button.select{color: #4198e5;}
#Report_result  ul.Report_list {width: 100%;height: calc( 100% - 40px - 2.2rem);overflow: auto;}
#Report_result ul.Report_list li{padding: 0rem .2rem;background-color: #fff;display: block;margin-bottom: 1px;}
#Report_result ul.Report_list li i{font-size: 1.4rem;color: #3da7ff;display: block;height: 1.7rem;}
#Report_result ul.Report_list .details {height: 1.5rem;padding: .23rem .1rem .1rem;margin-left: 1.6rem;}
#Report_result ul.Report_list .details p{margin-bottom:.1rem;font-size: .28rem;color: #bababa;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#Report_result ul.Report_list .details p:first-child{color: #333;}
#Report_result ul.Report_list .details p:last-child{margin: 0;}
#Report_result .btn_box {position: relative; padding-top:.2rem;font-size: .3rem; height: .8rem;width: 100%;background-color: #fff;}
#Report_result .btn_box .btn{line-height:.6rem;height:.6rem; border: 1px solid #F7F7F7;padding: 0 .3rem;display: inline-block;border-radius: 5px;}
#Report_result .btn_box .btnSummary {position: absolute;top:.2rem;left: 50%;margin-left: -.7rem;}
#Report_result .btn_box .btnArea{margin-left: .2rem;}
#Report_result .btn_box .btn i{margin-left: .1rem;}
#Report_result .area_num{font-size: .3rem;background-color: #fff;padding: .3rem;margin: .1rem 0;}
#Report_result .area_num span{margin-right: .1rem;}
#Report_result .pull_area{z-index:9999;width:100%;height: calc(100% - 2rem); background: rgba(0,0,0,0.3);position: absolute;top:2rem;left: 0;}
#Report_result .pull_area .col-50{height: 80%;background-color: #fff;font-size: .35rem;overflow: auto;}
#Report_result .pull_area .col-50 li{padding:.1rem .3rem ;margin-left: .2rem;border-right:1px solid #EEEEEE;}
#Report_result .pull_area .pull_left{color: #ccc;}
#Report_result .pull_area .pull_right{ border-top: 1px solid #EEEEEE;}
#Report_result .pull_area .select {border:1px solid #EEEEEE;border-right:none !important;color: #333;}


/*notice 通知公告*/
#Notice  .page-content{overflow: hidden;position: relative;}
#Notice .navbar .right i {margin-right: 10px;}
#Notice  .buttons-row .button{padding:0;line-height:40px;height:40px;border-radius:0px;border: none; color: #808082;background-color: #f9f9fb;}
#Notice  .buttons-row .button:first-child{border-right:1px solid #f0eff5;}
#Notice  .buttons-row .button.select:after{content: '';position: absolute;bottom: 0;right: auto;top: auto;height: 2px;width: 100%;background-color: #4198e5;display: block;z-index: 15;}
#Notice  ul.Notice_list {width: 100%;height: calc( 100% - 40px - 5px);overflow: auto;margin-top: 5px;}
#Notice  .Notice_list li{padding: .2rem;padding-bottom: 0;background-color: #fff;margin-bottom: 1px;}
#Notice  .Notice_list li .Ticon{position: relative;width: 1.3rem;height: 1.3rem;}
#Notice  .Notice_list li .Ticon i{font-size: 1.2rem; color: #3da7ff;position: absolute;top: -.25rem;left: 0;}
#Notice  .Notice_list li .Ticon span{position: absolute;top: -.1rem;right: .05rem; display: block;width: .17rem;height: .17rem;border-radius: 50%;background-color: red;}
#Notice  .Notice_list li .details p{font-size: .3rem;margin-left: 1.5rem;}
#Notice  .Notice_list li .details p:nth-child(1) .PName{font-size: 1.2em;}
#Notice  .Notice_list li .details p:nth-child(1) .fright{font-size:0.8em;line-height: 2em;color: #999;}
#Notice  .Notice_list li .details p:last-child{margin-top:.25rem;font-size:.25rem;color: #999}

/*notice_Search 通知公告搜索结果*/
#Notice_Search .navbar form{background-color: #f5f5f5;}
#Notice_Search .navbar  .back{margin-top: 2px;}
#Notice_Search .navbar  .back i{font-size: 18px;color: #999;}
#Notice_Search .navbar .searchbar-input{margin-left: .2rem;}
#Notice_Search .navbar  input{background-color: #fff;background-image: initial;padding: 0px 5px;}
#Notice_Search .navbar span{color: #128dea;font-size: .23rem;width: 15%;margin-left: .2rem;background-color: #1682dd;text-align: center;padding: 5px;border-radius: 20px;color: #fff;}
#Notice_Search .page-content{background-color: #fff;padding:44px 10px 0;}
#Notice_Search .page-content .head_title{font-size: .27rem;padding: 15px 0;}
#Notice_Search .page-content  ul li{margin-bottom:.2rem;margin-right:.2rem;font-size: .25rem;padding: .24rem .15rem;float: left;background-color: #f5f5f5;border-radius: 15px;}

/*我的待办*/
#ToWork li{background-color: #fff;padding: .2rem .1rem;margin-bottom: 1px;}
#ToWork li i{font-size: 1.5rem;margin-top: -.19rem;}
#ToWork li .details{font-size: .3rem;margin-left: 1.8rem;}
#ToWork li .details p{font-size: .28rem; margin-bottom: 2px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#ToWork li .details p.task_num span{margin-right: .1rem;}
#ToWork li .details p:last-child{color: #999;}
#ToWork li .details p:last-child em{margin-left: .1rem;}
#ToWork li .details p em{font-style: initial;color: #999;}

/*Mail_list 通讯录*/

#Mail_list .bgcolor-1{background-color: #82d0ff;}
#Mail_list .bgcolor-2{background-color: #5f70a6;}
#Mail_list .bgcolor-3{background-color: #f7b55e;}
#Mail_list .bgcolor-4{background-color: #17c295;}
#Mail_list .bgcolor-5{background-color: #e7172f;}
#Mail_list .Common_mail{padding:8px 15px 7px;background-color: #fff;}
#Mail_list .Common_mail .fleft{position: relative; width: 1.1rem;height: 1.1rem;border-radius: 50%; background-color: #4da9ea;}
#Mail_list .Common_mail i{font-size: .65rem;color: #fff;position: absolute;top: .08rem;left: .22rem;}
#Mail_list .Common_mail p{font-size: .3rem;height: 1.1rem;line-height: 1.1rem;margin-left: 1.3rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#Mail_list .list-block .item-media span{border-radius: 50%; text-align:center; color: #fff; display: inline-block;width: 1.1rem;height: 1.1rem;line-height: 1.1rem;}
#Mail_list .list-block  .item-title p{font-size: .35rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#Mail_list .list-block  .item-title p:last-child{color:#999;font-size: .2rem;margin-top: .1rem;}

/*Mail_list_chat 个人聊天页面*/
#Mail_list_chat .toolbar-inner .button{align-self: initial; margin-right:8px;height: 28px;background-color: #1682dd;color: #fff;}



/*#Mail_message  消息页面*/
#Mail_message .navbar .right{font-size: .28rem;font-weight: bold;}
#Mail_message .page-content{overflow: hidden;}
#Mail_message .page-content .searchbar_form{position:relative; width: 100%;background-color: #fff;height: .7rem;padding: .1rem 0;}
#Mail_message .page-content .searchbar_form input {display: block;height: .7rem;padding:0 2%;font-size: 14px;width: 90%;margin: 0 auto;background-color: #e5e5e5;border-radius: 5px;border: none;outline: none;}
#Mail_message .page-content .searchbar_form label{font-size: .25rem; z-index: 2;position: absolute;left: 51%;margin-left: -3%;color: #B2B2B2;top:.3rem;font-weight: normal;color: #333;}
#Mail_message .page-content .searchbar_form i{font-size:.25rem;position: absolute;top:.29rem;left: 51%;margin-left: -8%;color: #333;}
#Mail_message .page-content ul.message_list{height: calc( 100% - 1rem - 5px);overflow: auto;margin-top: 5px;}
#Mail_message  .message_list li{padding: .2rem;background-color: #fff;margin-bottom: 1px;}
#Mail_message  .message_list li .Ticon{border-radius: 50%;background-color: #e5f3fe; position: relative;width: 1rem;height: 1rem;}
#Mail_message  .message_list li .Ticon i{font-size: .7rem; color: #3da7ff;position: absolute;top: 0;left: .16rem;}
#Mail_message  .message_list li .details p{font-size: .28rem;margin-left: 1.3rem;}
#Mail_message  .message_list li .details p:nth-child(1) .PName{font-size: 1.2em;}
#Mail_message  .message_list li .details p:nth-child(1) .fright{font-size:0.8em;line-height: 2em;color: #999;}
#Mail_message  .message_list li .details p:last-child{margin-top:.1rem;font-size:.25rem;color: #999;width: 70%;}


/*小于375宽度*/
@media screen and (max-width: 375px) {}
