html{font-size: 17px;}
.navbar .right{font-size: .8rem;}
.navbar-fixed>.searchbar~.page-content{padding-top: 96px;}
.row .col-30{    width: 30%;}
.row .col-70{    width: 70%;}
.margin0{margin: 0!important;}
.margin-tb0{margin-top: 0!important;margin-bottom: 0!important;}
.left{float: left;}
.right{float: right;}
.taskTabs{margin: .5rem 0;background: #fff;overflow: auto;zoom:1;}
.taskTabs a{display:block;float:left;padding: .5rem 0;width: 20%;font-size: .8rem;color: #666;text-align: center;}
.taskTabs.d-tab4 a{width:25%;}
.taskTabs a i{display: block;font-size: 2.5rem;line-height: normal;}
.taskTabs a.active{  background: #eaeaea;  }
.taskTab2 .taskTabs{margin-bottom: 0;border-bottom: 1px solid #eaeaea;}
.taskTab2 .content-block.taskBox{margin-top: 0;}
.taskTab2 .taskTabs a{position: relative;padding:.7rem 0;width: 50%;font-size: .8rem;}
.taskTab2 .taskTabs a.active{color: #1682dd;background: none;}
.taskTab2 .taskTabs a.active::after{content: "";position: absolute;bottom: 0;  left: 40%;width: 20%;height: .2rem;background: #1682dd;}
.taskTab2 .taskTabs a:nth-child(2)::before{content: "";position: absolute;top:0;left:0;bottom:0;width: 1px;height: 100%;background: #eaeaea;}
.content-block.taskBox{  margin: .5rem 0;  background: #fff;  padding: 0;  }
.taskBox .taskList{}
.taskBox .taskList li{border-bottom: 1px solid #eaeaea;}
.taskBox .taskList li a{padding: .5rem .5rem;}
/*.taskBox .taskList li:nth-child(even){background: #e5f1fc;}*/
.taskBox .taskList li .col-20{position:relative;}
.taskBox .taskList li .col-20 i{  font-size: 3.5rem;line-height: normal;  }
.taskBox .taskList li .col-20 img{width: 100%;}
.taskBox .taskList li .col-20.new::before{content: "";position: absolute;top: 0;left: 3rem;width: .5rem;height: .5rem;border-radius: 50%;background: #FF0000;}
.taskBox .taskList li .col-80{}
.taskBox .taskList li .col-80 h3{  width:100%;font-size: 1rem;  color: #333;  font-weight: normal;  }
.taskBox .taskList li .col-80 h3 label.right{    font-size: .8rem;  font-weight: normal;  color: #666;  padding: .1rem .5rem;  border: 1px solid #eaeaea;  border-radius: 3px;}
.taskBox .taskList li .col-80 h3 label.right i{ font-size: .8rem;}
.taskBox .taskList li p{ margin-top: .2rem;  color: #666; font-size: .8rem; }
.taskBox .taskList li .col-80 p span{  color: #333;  }
.taskBox .taskList li .col-80 p span.sub{font-size: 1rem;color: #1682dd;}
.taskBox .taskList li .col-80 p span.sub samp{font-size: .6rem;}
.taskBox .taskList li .col-80 h3 samp{font-size: .8rem;}
.taskBox .taskList li .col-80 p span.right, .taskBox .taskList li .col-80 h3 samp{color:#999;}
.taskBox .taskList li .col-80 p input[type="text"]{margin:0;padding:0 .5rem;width: 50%;border: none;border-bottom: 1px solid #ccc;color: #333;background: inherit;font-size: .8rem;}
.taskBox .taskList li .col-80 h3, .taskBox .taskList li .col-80 p{width:100%;}
.taskBox .taskList.taskLine-2 li .col-80 h3{margin:.2rem 0;}
.taskBox .taskList.taskLine-2 li .col-80 p{margin:.5rem 0;}
.taskBox .taskList li .col-80 p:last-child{margin-bottom: 0;}
.taskBox .taskList li .taskDetails{display:none;padding: .5rem; background: #f6f6f6;overflow: hidden;-webkit-animation: Height100A .5s; animation: Height100A .5s;}
.taskBox .taskList li .taskDetails p{margin:.2rem 0;color: #333;}
.taskBox .taskList li p.d-details{color: #1682dd;}
.taskBox .taskList li p.d-details i{margin:0 .2rem;font-size: 1rem;vertical-align: middle;}
.taskBox .taskList.taskLine-3 li .col-80 p{margin-top: .3rem;width: 100%;}
.taskBox .taskList li .col-80 p.col-50{width: 50%;  width: -webkit-calc((100% - 15px*1)/ 2);  width: calc((100% - 15px*1)/ 2);}
/*任务填写*/
.taskSwiperNav{margin-bottom:.5rem;padding: .5rem 0;background: #fff;color: #666;overflow: hidden;}
.taskSwiperNav .swiper-slide{width: 25%;text-align: center;font-size: .8rem;}
.taskSwiperNav .swiper-slide.active{color: #333;}
.taskSwiperNav .swiper-slide.active:after{content: "";position: absolute;  bottom: -.5rem;  left: 30%;display: block;background: #1682dd;  height: .2rem;  width: 40%;}
.taskToolbarBox{position: fixed;bottom: 0;left: 0;right:0;height: 3rem;z-index: 3;}
.taskToolbarBox .taskToolbar{position: absolute;bottom: 0;left: 0;width: 100%;line-height: 2rem;text-align: center;background: #5E5E5E;color: #fff;font-size: 1rem;font-weight: normal;}
.taskToolbarBox .taskList{position: absolute;bottom: 3rem;  left: 0;  top: -20rem;  width: 100%;  overflow: hidden;}
.taskToolbarBox .taskList ul{    height: 20rem;  overflow-y: scroll;  background: #fff;  position: absolute;  left: 0;  bottom: 0;  right: 0;-webkit-animation: Atranslate3d2 .5s;animation: Atranslate3d2 .5s;}
.taskToolbarBox .taskList li{ padding: .5rem; border-bottom: 1px solid #eaeaea;  font-size: .8rem;text-align: center;}
.taskToolbarBox .taskList li p.title{text-align: left;}
.taskToolbarBox .taskToolbar .btn{position:relative;padding:.5rem 0;}
.taskToolbarBox .taskToolbar .btn.col-40{ padding:.3rem 0 .3rem 3.6rem;  line-height: normal;  }
.taskToolbarBox .taskToolbar .btn.col-40 p{text-align: left;}
.taskToolbarBox .taskToolbar .btn.col-40 .title{font-size: .8rem;}
.taskToolbarBox .taskToolbar .btn.col-40 .text{  color: #999;  font-size: .6rem;  }
.taskToolbarBox .taskToolbar .btn label{position: absolute;top: -1rem;  left: .5rem;  width: 3rem;  height: 3rem;  background: #4B4B4B;  border-radius: 50%;  line-height: 3rem;  z-index: 10000; }
.taskToolbarBox .taskToolbar .btn:nth-child(2){background: #1682dd;}
.taskToolbarBox .taskToolbar .btn:nth-child(3){background: #F29715;}
.taskToolbarBox .taskToolbar .col-50.btn:nth-child(1){background: #1682dd;}
.taskToolbarBox .taskToolbar .col-50.btn:nth-child(2){background: #F29715;}
.d-fullscreen{position: fixed;top:0;bottom: 0;left: 0;right:0;z-index: 2;  background: rgba(0,0,0,.4);-webkit-animation: opacityA .2s;animation: opacityA .2s;}
.z-index10{z-index: 10;}
/*上传图片*/
.uploadBox, .remarksBox{position: absolute;  top: 20%;  left: 1rem;  right: 1rem;  z-index: 11;-webkit-animation: opacityA .2s;animation: opacityA .2s;}
.uploadBox .uploadDiv{margin-bottom:2rem;height: 15rem;text-align: center;}
.uploadBox .uploadDiv img{width: 100%;max-height: 100%;min-width: 60%;border: 2px solid #fff;box-sizing: border-box;}
.uploadBox .uploadBtn{position: relative;text-align: center;}
.uploadBox .uploadBtn a{    width: 60%;  height: 2.5rem;  line-height: 2.5rem;  font-size: 1rem;  background: #1682dd;  color: #fff;  display: inline-block;border: none;}
.uploadBox .uploadBtn input{    position: absolute;  top: 0;  left: 20%;  width: 60%;  height: 2.5rem;  z-index: 2;  opacity: 0;}
.remarksBox{background: #fff;padding: 1rem 0 0;border-radius: 7px;font-size: .8rem;color: #333;}
.remarksBox h3{    padding-bottom: 1rem;  text-align: center;  font-size: 1rem;  font-weight: normal;}
.remarksBox .line{padding: 1rem .5rem;border-top: 1px solid #eaeaea;}
.remarksBox .line input[type="text"]{}
.remarksBox .line select{margin-left: .5rem;  padding: .2rem .5rem;  border: 1px solid #eaeaea;  border-radius: 3px;font-size: .8rem;}
.remarksBox .line input[type="submit"]{display: block;margin: 0 auto;width: 80%;height: 2.5rem;border: none;background: #1682dd;color: #fff;font-size: 1rem;border-radius: 5px;}
.remarksBox .line textarea{  margin-left: .5rem;padding: .2rem;  width: 70%;  border: 1px solid #eaeaea;  resize: none;  vertical-align: text-top;  border-radius: 3px; font-size: .8rem; }
.swiperHidden{padding-bottom:4rem;overflow: hidden;}
.swiperHidden .swiper-pages{overflow-y: scroll;height: calc( 100% - 3rem - 40px);}
.swiperHidden .content-block.taskBox{margin: 0;}
/*审核表格*/
.taskTable{padding-bottom:4.5rem;background: #fff;}
.taskTable table{padding-bottom:5.5rem;width: 100%;height:116%;border-collapse: collapse;border-spacing: 0;font-size: .8rem;color: #666;}
.taskTable table tbody{ display: block; height: 100%; overflow-y: scroll;}
.taskTable table thead tr{background: #1682dd;}
.taskTable table tr{display: table;  width: 100%;  table-layout: fixed;border-bottom: 1px solid #eaeaea;}
.taskTable table tr th{position: relative;padding: .5rem .1rem;font-weight: normal;color: #fff;}
.taskTable table tr th:after{content: "";position: absolute;  top: 25%;  right: 0;  width: 1px;  height: 50%;background: #fff;}
.taskTable table tr th:last-child:after{display: none;}
.taskTable table tr td{padding: .5rem .1rem;text-align: center;}
.submitBtn{position: absolute;bottom: 0;  left: 0;  right: 0;padding: 1rem 0;z-index: 2;background: #fff;}
.submitBtn input[type="submit"], .submitBtn input[type="button"], .submitBtn button{display: block;margin: 0 auto;  width: 80%;  height: 2.5rem;  border: none;  background: #1682dd;  color: #fff;  font-size: 1rem;  border-radius: 5px;}
/*进度条*/
.d-progress { display: inline-block;margin:0 .5rem;width: 60%; height: .8rem;  background: #eaeaea; border-radius: 10px; overflow: hidden }
.d-progress > span {position: relative;  float: left;  margin: 0 -1px;  min-width: 30px;  height: .8rem;  line-height: .8rem;  text-align: right;  background: #cccccc;  border-radius: 10px;  vertical-align: text-top;}
.d-progress .green {  background: #85c440;  }
.d-progress .red {  background: #db3a27;  }
.d-progress .orange {  background: #f2b63c;  }
.d-progress .blue {  background: #5aaadb;  }
.tackArea, .taskProgress{margin-bottom: .5rem;padding:.5rem .5rem;background: #fff;font-size: .8rem;color: #333;}
.tackArea .col-40 label, .tackArea .col-60 a{  border: 1px solid #eaeaea;  padding: .2rem .8rem;  border-radius: 5px;  color: #333;  }
.tackArea .col-40 label i{ margin-left: .3rem; font-size: .7rem; vertical-align: middle;line-height: normal;}
.tackArea .col-60 a i{margin-left: .3rem;font-size: .8rem;line-height: normal;}
.taskProgress h3{ font-size: 1rem;  font-weight: normal;  }
.taskProgress h3 span{margin-left: 1rem}
.taskProgress .line{margin-top: .5rem; color: #666;}
/*附件*/
.taskFileBox{padding:1rem .5rem;height: -webkit-calc(100% - 3rem);height: calc(100% - 3rem);background: #fff;box-sizing: border-box;font-size: .8rem;color: #333;}
.taskFileBox p{margin-bottom: .2rem;}
.taskFileBox .msg{margin-top:.5rem;padding: .5rem;border: 1px solid #eaeaea;  font-size: .8rem;  min-height: 20rem;  border-radius: 5px;}
/*地区选择*/
.areaSelect, .filtrateBox{ display: none; position: absolute;  top: 44px;  left: 0;  right: 0;  bottom: 0;  z-index: 200;   font-size: .8rem;  color: #333; background: rgba(0,0,0,0.4);overflow: hidden;-webkit-animation:opacityA .3s;animation: opacityA .3s; }
.areaSelect::after, .filtrateBox::after{content:"点击阴影关闭弹窗";position:absolute;top: 25rem;left:0;right:0;color: #fff;font-size: 1rem;text-align: center;}
.areaSelect .box, .filtrateBox .box{padding-left:2rem;background: #fff;height: 22rem;overflow: hidden;-webkit-animation:Atranslate3d .5s;animation: Atranslate3d .5s;}
.areaSelect .line{  padding: 1rem 0;  border-bottom: 1px solid #eaeaea;  }
.areaSelect .line:last-child{border-bottom: none;}
.areaSelect .line h3{ position: relative; font-size: 1rem;  font-weight: normal;  }
.areaSelect .line h3::before{content: "";position: absolute;  left: -1rem;top:0;bottom: 0;width: .3rem;background: #1682dd;}
.areaSelect .line ul{ overflow: auto;zoom: 1;}
.areaSelect .line li{  margin: .5rem 2rem 0 0;  float: left;  color: #666; }
/*搜索框*/
.dr-css{font-size: .8rem}
.dr-css .a-filtrate i{font-size: .7rem;}
.d-searchBox{padding: .5rem .5rem;}
.d-searchBox .d_search{    position: relative;  padding: .5rem 0;  background: #fff;  border-radius: 5px;  font-size: 1rem;  color: #666;}
.d-searchBox .d_search i{position: absolute;  left: .5rem;  top: .3rem; }
.d-searchBox .d_search input[type="text"]{border: 0;  padding-left: 2rem;  width: 100%;  box-sizing: border-box;}
.filtrateBox .box{padding-left: 0;}
.filtrateBox .box .link{padding:.8rem 0;border-bottom:1px solid #eaeaea;overflow: auto;zoom: 1;}
.filtrateBox .box .link a{display:block;width: 25%;text-align: center;float: left;color: #666;}
.filtrateBox .box .link a i{display: block;font-size: 2.5rem;line-height: normal;}
.filtrateBox .box .condition{padding: .5rem .5rem;font-size: 1rem;}
.filtrateBox .box .condition p{margin-bottom: .5rem;}
.filtrateBox .box .condition p label{position: relative; width: 4rem;display: inline-block;padding-right:.4rem;text-align-last: justify;}
.filtrateBox .box .condition p label::after{content: ":";position: absolute;  right: .2rem;  top: 0;}
.filtrateBox .box form input[type="submit"]{    display: block;  margin: 2rem auto 0;  width: 80%;  height: 2.5rem;  border: none;  background: #1682dd;  color: #fff;  font-size: 1rem;  border-radius: 5px;}
.filtrateBox.active{display: block;}
/*日历*/
.StimeBox{margin-bottom:.5rem;padding:.5rem .5rem;background: #fff; color: #666;font-size: .8rem;}
.StimeBox span{ position: relative; display: inline-block; margin: 0 .3rem; padding: .2rem .5rem;max-width: 6rem;  overflow: hidden;  border: 1px solid #eaeaea;border-radius: 5px;box-sizing:border-box; vertical-align: middle;}
.StimeBox span input{position:relative;width: 100%;border: none;color: #333;background:none;z-index: 2;font-size: .8rem;}
.StimeBox span i{  position: absolute;top: 20%;right: .3rem;line-height: normal;z-index: 1;font-size: .8rem;}

/*超过隐藏长度*/
.taskBox .taskList li .col-80 h3, .taskBox .taskList li .taskDetails p{text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden;}
.searchbar.d-FormFix{background: #fff; height:52px;border-bottom: .5rem solid #efeff4;}
.d-FormFix .searchbar_form label{left: 51%;  margin-left: -3%;}
.d-FormFix.searchbar input[type=search]{background-color: #eaeaea;  background-image: none;  padding: 0 28px 0 10px;}
.d-FormFix .searchbar_form i{ left: 51%;  margin-left: -8%;}
/*登陆*/
.d-login{position:relative;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#09B1F2), to(#016AB3)); background: linear-gradient(#09B1F2, #016AB3);}
.d-loginNav{background: none;}
.d-loginNav::after{display: none;}
.d-login .login-logo{text-align: center;padding:3rem 0;color: #fff;font-size: .8rem;}
.d-login .login-logo img{width: 5rem;}
.d-login .list-block {margin: 0 auto;}
.d-login .list-block .item-content{margin-bottom:1rem;background:#fff;border-radius: 2rem;}
.d-login .list-block i.iconfont{font-size: 1.2rem;color: #666;line-height: normal;}
.d-login .list-block .item-inner:after{display: none;}
.d-login .list-block input[type=text], .d-login .list-block input[type=password]{margin: 0 auto;font-size: .8rem;}
.d-login input[type="submit"]{ margin-top: 3rem;   height: 44px;  background: #0050A5;  color: #fff;  border-radius: 2rem;  font-size: .8rem;  letter-spacing: 10px;  border: none;}
.d-login .copyright{position: absolute;left: 0;right: 0;bottom: 0;color: #fff;font-size: .6rem;text-align: center;height: 1.2rem;}
/*任务填写动画*/
@-webkit-keyframes taskHeightA { from {height:0;} to {height:22rem;} }
@-webkit-keyframes taskHeight20A { from {height:0;} to {height:20rem;} }
@-webkit-keyframes opacityA { from {opacity:0;} to {opacity:1;} }
@-webkit-keyframes Height100A { from {height:0;} to {height:100%;} }
@-webkit-keyframes Atranslate3d{ from{transform: translate3d(0,-100%,0);} to{ transform: translate3d(0,0,0);} }/*从上到下动画*/
@-webkit-keyframes Atranslate3d2{ from{transform: translate3d(0,100%,0);} to{ transform: translate3d(0,0,0);} }/*从下到上动画*/

@keyframes taskHeightA { from {height:0;} to {height:22rem;} }
@keyframes taskHeight20A { from {height:0;} to {height:20rem;} }
@keyframes opacityA { from {opacity:0;} to {opacity:1;} }
@keyframes Height100A { from {height:0;} to {height:100%;} }
@keyframes Atranslate3d{ from{transform: translate3d(0,-100%,0);} to{ transform: translate3d(0,0,0);} }/*从上到下动画*/
@keyframes Atranslate3d2{ from{transform: translate3d(0,100%,0);} to{ transform: translate3d(0,0,0);} }/*从下到上动画*/

@media screen and (max-width: 420px) {
    .login-screen-content .list-block{max-width: 90%;}
}
@media screen and (max-width: 350px) {
    .taskTabs a i{font-size: 2.2rem;}
    .taskBox .taskList li a{padding: .5rem;}
    .taskBox .taskList li .col-20 i{font-size: 4rem;}
    .taskBox .taskList.taskLine-2 li .col-80 h3{margin: 0;}
    .taskBox .taskList.taskLine-3 li .col-80 p{margin-top: .2rem;}
    .areaSelect .box, .filtrateBox .box{height: 20rem;}
    @keyframes taskHeightA { from {height:0;} to {height:20rem;}}
}

@media screen and (min-width: 375px) {
    .uploadBox, .remarksBox{ left: 2rem;  right: 2rem;}
    .taskToolbarBox .taskToolbar .btn.col-40{padding-left: 4rem;}
}
@media screen and (min-width: 414px) {
    .areaSelect .box{height: 22rem;}
    @keyframes taskHeightA { from {height:0;} to {height:22rem;} }
}
@media screen and (min-width: 768px) {
    html{font-size: 30px;}
    .navbar, .toolbar, .searchbar{height: 2rem;}
    .tabbar-fixed .page-content, .tabbar-through .page-content, .toolbar-fixed .page-content, .toolbar-through .page-content{padding-bottom: 2rem;}
    .navbar-fixed .page-content, .navbar-through .page-content{padding-top: 2rem;}
    .navbar-fixed .page>.searchbar, .navbar-fixed>.searchbar, .navbar-through .page>.searchbar, .navbar-through>.searchbar{top:2rem;}
    .toolbar .iconfont{font-size: 1rem;line-height: normal;}
    .navbar .center{font-size: .8rem;}
    #Notice_Search .page-content{padding-top: 2rem;}
    #Notice_Search .page-content .head_title i{font-size: .8rem;}
    #Notice_Search .navbar .searchbar-input{height: 1.4rem;}
    .c_con{    padding: 0 .5rem;  height: 2.5rem;  box-sizing: border-box;  align-items: center;}
    .c_con .col-80 .c_search, .c_con .col-20 .c_region a, #Macro_data .navbar .btn{height: 1.4rem;line-height: 1.4rem;}
    .c_con .col-80 .c_search i, .c_con .col-80 .c_search{font-size: .7rem;}
    .c_con .col-20 .c_region a{font-size: .7rem;}
    #Notice_Search .navbar  input{font-size: .8rem;}
    #Notice_Search .navbar span, .navbar .right .btnArea, #Task .navbar .center .buttons-row a{height:1.4rem;line-height: 1.4rem;}
    #Notice_Search .navbar  .back, .navbar a.back{width: 2rem;}
    #Notice_Search .navbar  .back i, .navbar a.back i{font-size: .8rem;}
    #Farm_food .searchbar{padding:0 .5rem;height: 2.5rem;}
    .navbar-fixed>.searchbar~.page-content{padding-top: 5rem;}
    .searchbar .searchbar-input{height: 1.4rem;}
    .navbar .right i{font-size: .8rem;}
    .dr-css .a-filtrate i{font-size: .7rem;}
    .searchbar.d-FormFix{padding:0 .5rem;height: 2.5rem;border-bottom: none;}
    #Company .page-content ul{height: calc(100% - 2.5rem);}
    #Company .page-content ul,#Company .page-content h1{background: #fff;}
    #Company .page-content{background: none;}
    .list-block .item-title, #index-Wo .user_box .login-after  p{font-size: .8rem;}
    #InvestigateFill .list-block .item-input input[type=text]{  font-size: .8rem;}
    .list-block .item-inner{padding-top: 15px;padding-bottom:14px;}
    #Report_pull .btn_box{height: auto;}
    #Report_pull .pull_area{top:4.5rem;}
    .areaSelect, .filtrateBox{top:2rem;}
    .d-login input[type="submit"]{height: 57px;}
}





